* {
  --font-family: "JetBrains Mono", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  --background-color: #061724;
}


.home-title {
  margin-top: 1.3rem;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  color: black;
  font-family: "JetBrains Mono", sans-serif;
}


/* .sticky-nav-button:hover,
.sticky-nav-button:active {
  color: black;
  background: #efefef;
} */

/* .card {
  padding: 2rem;
  list-style: none;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  margin-top: 2rem;
  text-decoration: none;
  transition: transform 350ms;
} */


.card:hover {
  cursor: pointer;
  text-decoration: none;
  border-left: 2px solid #113d6d;
  transform: translateX(-2px);
  border-bottom: 1px solid #60a1e7;
}

.card:first-of-type {
  margin-top: 4rem;
}

.card-title,
.card-title > a,
.card-link,
.card-link > a {
  --margin: 0px;
  --font-weight: 700;
  --font-size: 1.3rem;
  font-size: 2rem;
  padding-left: 10px;
  --margin-top: 5px;
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
}

.card-date {
  --margin: 1rem;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: 0.80rem;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
}

.card-description {
  margin-top: 1rem;
  padding-left: 10px;
  color: #707070;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
}

/* .post-heading {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 3rem;
} */

.post-date {
  --o-animation-name: center;
  font-size: 1rem;

  margin-bottom: 4rem;
}

.post-body {
  margin: 0 auto 4rem auto;
}

/* .post-body h1,
.post-body h2,
.post-body h3,
.post-body h4,
.post-body ol,
.postbody ul,
.post-body p {
  margin-top: 1rem;
  margin-bottom: 2rem;
} */

/* .post-body h2 {
  font-size: 2rem;
} */

/* .post-body ol {
  margin-left: 2rem;
} */

.previous-next-button {
  font-size: 1.25rem;
  color: black;
  background: #efefef;
  border: 1px solid #efefef;
  border-radius: 5%;
  padding: 1rem;
  margin-right: 1rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  min-width: 25%;
  font-family: "Open Sans", sans-serif;
}
